:root {
  --font-title: "Limelight", "Bungee", cursive;
  --font-base: "Times New Roman", "Libre Baskerville", serif;
  --font-ui: "Poppins", "Questrial", "Jost", sans-serif;

  --sidebar-bg: #7a2e2e; /* terracota */
  --sidebar-width: 240px;
  --navbar-height: 56px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.separador{
  max-height: 36px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}

/* FONDO */
body {
  margin: 0;
  background-color: #075a52;
  background-image:
    linear-gradient(to right, rgba(255,255,255,0.35) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255,255,255,0.35) 1px, transparent 1px);
  background-size: 30px 30px;
  padding-top: 0px; /* altura REAL del navbar */
}

:target {
  scroll-margin-top: 60px;
}

/* NAVBAR */
.navbar {
  font-family: var(--font-ui);
}
.navbar-brand {
  font-family: var(--font-title)
}

/* SIDEBAR DESKTOP */
.sidebar {
  position: fixed;
  top: var(--navbar-height);
  bottom: 0;
  left: 0;
  width: var(--sidebar-width);
  background-color: var(--sidebar-bg);
  color: #f2eaea;
  font-family: var(--font-ui);
  padding: 2rem 1.5rem;
  z-index: 10;
}

.sidebar .nav-link {
  color: #f2eaea;
}

.sidebar .nav-link:hover {
  color: #ffffff;
  font-weight: 600;
}

/* SIDEBAR MOBILE */

/* .sidebar-mobile {
  position: fixed;
  top: var(--navbar-height);
  bottom: 0;
  left: 0;
  width: min(90vw, calc(100vw - 20px));
  background-color: var(--sidebar-bg);
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 1050;
  font-family: var(--font-ui);
} */

.sidebar-mobile {
  position: fixed;
  top: var(--navbar-height);
  bottom: 0;
  left: 0;

  width: fit-content;
  max-width: 90vw; /* evita que se salga de la pantalla */

  padding: 1rem 1.25rem; /* margen interno proporcional */
  background-color: var(--sidebar-bg);

  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 1050;
  font-family: var(--font-ui);
}


.sidebar-mobile.open {
  transform: translateX(0);
}

.sidebar-mobile-inner {
  padding: 2rem 1.5rem;
  color: #f2eaea;
}

.sidebar-mobile .nav-link {
  color: #f2eaea;
}

.sidebar-mobile .nav-link:hover {
  color: #ffffff;
  font-weight: 600;
}

/* TOGGLE */
.sidebar-toggle {
  position: absolute;
  top: 45%;
  right: 0;
  transform: translateX(calc(100% - 1px));
  background-color: var(--sidebar-bg);
  color: white;
  padding: 1.2rem 0.8rem;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  user-select: none;
  font-size: 1.5rem;
}

/* CONTENIDO */
.main-content {
  /* margin-left: var(--sidebar-width); */
  padding-top: calc(var(--navbar-height) + 2rem);
  padding-left: 2rem;
  padding-right: 2rem;
}

/* .has-sidebar .main-content {
  margin-left: var(--sidebar-width);
} */

/* PAPEL */
.papel-largo {
  background-color: #f8f4e8;
  background-image: url("textura-papel.png");
  background-repeat: repeat;
  background-size: 400px 400px;
  font-family: var(--font-base);
  border-radius: 4px;
  box-shadow:
    0 6px 14px rgba(0,0,0,0.25),
    0 0 0 1px rgba(0,0,0,0.05);
  list-style-position: inside;
  text-align: center;
  line-height: 1.5;
  /* font-size: 1.5rem; */
  
}

/* FOOTER */
footer {
  font-family: var(--font-ui);
  background-color: #212529;
  position: relative;
  z-index: 20;
}

.footer-inner {
  margin-left: var(--sidebar-width);
}

.separador2{
  display: none;
}

.sidebar-mobile .nav-link {
  position: relative;
  padding-left: 2rem; /* espacio para la vi침eta */
  color: #e6dede;
  text-decoration: none;

  background-image: url("icono3.svg");
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: left center;
}

.sidebar .nav-link {
  position: relative;
  padding-left: 2rem; /* espacio para la vi침eta */
  color: #e6dede;
  text-decoration: none;

  background-image: url("icono3.svg");
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: left center;
}

/* RESPONSIVE */
@media (max-width: 767.98px) {

  .sidebar {
    display: none;
  }

  .main-content,
  .footer-inner {
    margin-left: 0;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .separador{
    display: none;
  }

  .separador2{
    max-height: 36px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
  }

  .navbar-collapse .nav-link {
  position: relative;
  padding-left: 2rem; /* espacio para la vi침eta */
  color: #e6dede;
  text-decoration: none;

  background-image: url("icono4.svg");
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: left center;
}

}

@media (orientation: landscape) {
  .sidebar-mobile .nav {
    gap: 0.01rem; /* reduce separaci칩n */
  }

  .sidebar-mobile .nav-link {
    line-height: 0.4; /* reduce interlineado */
    background-size: 24px 24px;
  }
}


@media (min-width: 768px) {
  body.has-sidebar .main-content {
    margin-left: var(--sidebar-width);
  }
  .papel-largo{
    font-size: 1.3rem;
  }
}